#confirmation-title{
    font-size: 1.2em;
    font-weight: bold;
}
#confirmation-msg{
    margin-bottom: 1.0em;
}
#shop-info{
    float: left;
    width: 100%;
}
#shop-address{
    float: left;
}
#shop-logo{
    float: right;
}
/** Cart **/
#cart-wrap{
    clear: both;
    position: relative;
    float:left;
    min-width: 707px;
    max-width: 707px;
}
#cart-container{
    float: left;
    width: 100%;
}

#cart-header{
    padding-bottom: 1.0em;
}

#cart-msg{
    float: left;
	margin-top: 1.0em;
	font-weight: bold;
}

#confirmation-msg label{
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    margin-bottom: 1.0em;
}
#cart-address{
    float: left;
    width: 100%;
}

#bt-address{
    float: left;
    width: 50%;
}

#st-address{
    float: left;
    width: 50%;
}

.cart-title{
    font-weight: bold;
}

#cart-list{
    clear: both;
    float:  left;
    width: 100%;
    margin-top: 1.0em;
}

#cart-list-hd{
    background-color: #cbd9d9;
    font-weight: bold;
}

#cart-prod-hd{
    width: 390px;
    text-align: center;
}

#cart-price-hd{
    width: 98px;
    text-align: center;
}

#cart-qty-hd{
    width: 98px;
    text-align: center;
}

#cart-line-total-hd{
    width: 90px;
    text-align: center;
}

#cart-list-hd ul{
    list-style: none;
    padding: 0 !important;
}

#cart-list-hd li{
    display: inline-block;
}

#cart-container-items{
    float: left;
    border: 1px solid gray;
}
.cart-product-name{
    font-weight: bold;
}
.cart-item{
    clear: both;
    float: left;
    border-bottom: 1px solid gray;
}

.cart-item-id{
    float: left;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    width: 362px;
    height: 100%;
    min-height: 2.5em;
    border-right: 1px solid gray;
}

.cart-item-price{
    float: left;
    text-align: center;
    width: 100px;
    height: 100%;
    min-height: 2.5em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
    border-right: 1px solid gray;
}

.cart-item-qty{
    float: left;
    text-align: center;
    width: 100px;
    height: 20px;
    min-height: 2.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border-right: 1px solid gray;
}

.cart-item-qty div{
    float: left;
    width: 50%;
}

.cart-item-total{
    float: left;
    text-align: right;
    width: 100px;
    height: 100%;
    min-height: 2.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-right: 10px;
}

#cart-bottom-container{
    clear: both;
    float: left;
    width: 100%;
}

#shipping-wrap{
    float: left;
    width: 100%;
}

#cart-shipping{
    clear: both;
    float: left;
}

.carrier-container{
    clear: both;
    float: left;
    margin: 0.25em 0 0.25em 0;
}

.carrier-logo{
    
}

.ship-rate-container{
    clear: both;
    float: left;
    width: 260px;
    max-width: 260px;
    padding-top: 0.25em;
}

.ship-rate-radio{
    float: left;
    margin-top: 0.15em;
    padding-right: 0.25em
}

.ship-rate-service{
    float: left;
    width: 100px;
}

.ship-rate-cost{
    float: left;
    width: 50px;
    text-align: right;
}

.ship-rate-eta{
    float: left;
    
    margin-left: 0.75em;
   
}

.poe-radio-name{
    font-size: 1.5em;
    padding-left: 0.75em;
}

#poe-coupon{
    clear: both;
    float: left;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}


#pay-methods{
    clear: both;
    float: left;
}
#cart-totals-wrap{
    float:right;
}
#cart-list-totals{
    float: left;
    padding-right: 1.2em;
    border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}

.cart-totals-list{
    float: left;
    list-style: none;
}

#cart-totals-lbl ul, #cart-totals-amt ul{
    list-style: none;
}

#cart-totals-lbl li, #cart-totals-amt li{
    display: inline-block;
}

#cart-totals-lbl{
    float: left;
    max-width: 150px;
}

#cart-totals-amt{
    float: left;
    max-width: 100px;
    padding-right: 0.25em;
}
.cart-lbl{
    clear: both;
    min-width: 150px;
    font-weight: bold;
    margin-bottom: 0.5em;
}
#cart-totals-amt{
    float: left;
    min-width: 100px;
    min-width: 100px;
}
#cart-totals-amt ul{
    padding-left: 0;
}
.cart-totals{
    clear: both;
    float: left;
    text-align: right;
    font-weight: bold;
    min-width: 100px;
    max-width: 100px;
    margin-bottom: 0.25em;
}
#cart-return-policy{
    clear: both;
    float: left;
    border: 2px solid black;
    padding: 1.0em;
    margin: 1.0em;
}